<div class="row">
  <div class="column" style="background-color:rgb(136, 77, 230);">
    <h2>Column 1</h2>
  </div>
  <div class="column" style="background-color:rgb(29, 207, 38);">
    <h2>Column 2</h2>
  </div>
  <div class="column" style="background-color:rgb(221, 38, 38);">
    <h2>Column 3</h2>
  </div>
  <div class="column" style="background-color:rgb(215, 235, 34);">
    <h2>Column 4</h2>
  </div>
  <div class="column" style="background-color:rgb(252, 32, 124);">
    <h2>Column 5</h2>
  </div>
  <div class="column" style="background-color:rgb(35, 236, 226);">
    <h2>Column 6</h2>
  </div>
  <div class="column" style="background-color:rgb(209, 34, 200);">
    <h2>Column 7</h2>
  </div>
  <div class="column" style="background-color:rgb(253, 86, 44);">
    <h2>Column 8</h2>
  </div>
  <div class="column" style="background-color:rgb(204, 68, 68);">
    <h2>Column 9</h2>
  </div>
  <div class="column" style="background-color:rgb(238, 172, 216);">
    <h2>Column 10</h2>
  </div>
  <div class="column" style="background-color:rgb(102, 240, 132);">
    <h2>Column 11</h2>
  </div>
  <div class="column" style="background-color:rgb(155, 31, 226);">
    <h2>Column 12</h2>
  </div>
</div>
