.wrapper {
    text-align: center;
  }
  
  .header {
    background: #00174F;
    color: #fff;
    padding: 50px 0;
  }
  
  .content {
      padding: 50px 0;
  }
  
  .sidebar {
    padding: 50px 0;
    background: #FFD200;
  }
  
  .footer {
    background: #00174F;
    color: #fff;
    padding: 50px 0;
  }
  
  @media screen and (min-width: 480px) {
      .column {
        display: table-cell;
      }
  
      .main {
        display: table;
        width: 100%;
      }
  
      .sidebar {
        width: 200px;
        height: 300px;
      }
  }