* {
    box-sizing: border-box;
}

/* Create twelve equal columns that floats next to each other */
.column {
    float: left;    
    flex: 8.33%;
    max-width: 8.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns
.row:after {
    content: "";
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; 
    clear: both;
} */

/* Responsive layout - makes the twelve columns stack on top of each other instead of next to each other */
/* @media (max-width: 1200px) {
    .column {
        width: 6.25%;
    }
} */
@media (max-width: 992px) {
    .column {
        flex: 12.5%;
        max-width: 12.5%;
    }
}
@media (max-width: 768px) {
    .column {
        flex: 33.33%;
        max-width: 33.33%;
    }
}
@media (max-width: 480px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media (max-width: 320px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}